TODO.md

*un~

tags

*pdf
*svg
*png
*bib
*html
*Rproj
*.RData
*.RDataTmp
*.Rhistory

# dirs
data/
misc/
notes/
pprz/

# files
main_figures.md
open_mainfigures


slides/*

*parallel_log*


.Rproj.user/
R/local_cores_parallelisation.R
R/test_palettes.R

functions/compare_reported_arv.R
functions/find_incidence_cases_Andrea.R
functions/incidence_rate_estimation_functions.R
functions/misc.R
outdir/
submission/
tests/

reports/deprecated/
reports/

src/process_data.R
src/get_newly_registered.R
